body {
    background-color: #289688;
}

h1 {
    color:  #fcea3e;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

img {
    border: 10px solid #ffffff;
    margin: 7px;
}